<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <?php
        echo $this->headTitle('Pizza test', 'PREPEND')->setSeparator(' / ') . "\n";
        echo $this->headMeta() . "\n";
    ?>
    <link href="<?php echo $this->baseUrl(); ?>/css/bootstrap.css"  rel="stylesheet">
    <link href="<?php echo $this->baseUrl(); ?>/css/bootstrap-theme.css"  rel="stylesheet">
    <link href="<?php echo $this->baseUrl(); ?>/css/main.css"  rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pizza test</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/ingredient">Ingredient</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        <?php echo $this->layout()->content; ?>
    </div>


    <script src="<?php echo $this->baseUrl(); ?>/js/jquery-1.11.1.min.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/js/bootstrap.js"></script>
  </body>
</html>

